In [10]:
import string
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pal = sns.color_palette()

In [2]:
%ls

all.zip*       kernel.ipynb*          test.csv        train_pp.pkl
doc2vec.ipynb  orig_data_split.ipynb  test_pp.pkl     word2vec.ipynb
eda.ipynb      process_text.ipynb     train.csv
glove.6B/      sample_submission.csv  train_orig.csv

In [5]:
df = pd.read_csv("train_orig.csv")
df.shape

(404290, 6)

In [6]:
df.sample(10)

,id,qid1,qid2,question1,question2,is_duplicate
214441,214441,320022,320023,Who's the most known person in the world?,Who is the most known person in the world?,1
53196,53196,94075,94076,What is the reason of decreasing steam turbine...,What is avert decrease in steam turbine effici...,0
86164,86164,10693,4121,Why is Saltwater Taffy candy imported in Hong ...,Why is Saltwater taffy candy imported in Japan?,1
21616,21616,40679,40680,How has Mountain Dew changed its formula throu...,Does Pepsi have plans to bring Mountain Dew to...,0
238535,238535,349917,349918,What are some reliable solutions to manage the...,Indian legal service?,0
381457,381457,513195,513196,What’s better for research tasks in Big data -...,How can Rahul Gandhi Strategies his Party for ...,0
344395,344395,214669,108822,Why are Aeroplanes painted white?,Why are most airliners painted white?,1
363759,363759,4038,57,What are the best ways to earn money from home?,What is best way to make money online?,1
91748,91748,153691,153692,What does sinial mean and how can you use it i...,"What does ""animadversion"" mean and how do you ...",0
191157,191157,290423,290424,What is the best place to get a beard trim in ...,Where is the best place to get a Chai Latte in...,0

In [8]:
s1 = set(df['qid1'])
s2 = set(df['qid2']) 
len(s1), len(s2), len(s1.union(s2))

(290654, 299364, 537933)

In [9]:
df.is_duplicate.value_counts()

0    255027
1    149263
Name: is_duplicate, dtype: int64

In [11]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'